# Node modules
node_modules/

# Docusaurus build outputs
build/
.docusaurus/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
*.swp

# Env files
.env
.env.local
.env.*.local

# output of local scripts or temp files
*.log
.cache/

# Optional: IDEs
.vscode/
.idea/
*.iml
.codesandbox/
sandbox.config.json
